<config platform="project" template="project (default)">Created: Sun Mar 22 21:50:39 2015
By: Sean
Using Template: project (default)

&lt;description to go here>
<option value="" fromDef="true" name="icon"/>
    <option value="" fromDef="true" name="splashscreen"/>
    <option value="" fromDef="true" name="splashscreen-use-all"/>
    <option value="" fromDef="true" name="splashscreen-auto-onblack"/>
    <option value="Default" fromDef="true" name="assets"/>
    <option value="" fromDef="true" name="embed-icf"/>
    <option value="data/app.icf" fromDef="true" name="config"/>
    <option value="Game01" fromDef="true" name="name"/>
    <option value="Game01" fromDef="true" name="caption"/>
    <option value="Sean" fromDef="true" name="provider"/>
    <option value="(C) Sean" fromDef="true" name="copyright"/>
    <option value="0.0.1" fromDef="true" name="version"/>
    <option value="" fromDef="true" name="version-string"/>
</config>
